In [11]:
# 03/02/2026

# by using for loop find 10 questions and solve its

# ques.1  Write a Python program to print the following star pattern using loops:
# *
# **
# ***
# ****
# *****

for i in range(1,6) :
    for j in range(1,i+1) :
        print("*",end="")
    print()

*
**
***
****
*****

In [18]:
# Print a pyramid pattern:
#     *
#    ***
#   *****
#  *******

for i in range(1,6) :
    for j in range(5,i,-1) :
        print(" ",end="")
    for j in range(1,(2*i-1)+1) :
        print("*",end="")
    print()

    *
   ***
  *****
 *******
*********

In [20]:
# Print:
# 1
# 2 3
# 4 5 6
# 7 8 9 10
num = 1
for i in range(1,5) :
    for j in range(1,i+1) :
        print(num,end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10

In [30]:
# Print alphabet pyramid:
#     1
 #   121
 #  12321
 # 1234321
 #123454321

for i in range(1,6) :
    for j in range(5,i,-1) :
        print(" ",end="")
    for k in range(1,i) :
        print(k,end="")
    for j in range(i,0,-1) :
        print(j,end="")
    print()

    1
   121
  12321
 1234321
123454321

In [10]:
# print :

# 1 0 1 0 1
#  0 1 0 1
#   1 0 1
#    0 1
#     1
#    0 1
#   1 0 1
#  0 1 0 1
# 1 0 1 0 1

for i in range(1,5) :
    for j in range(1,i) :
        print(" ",end="")
    for j in range(i,6) :
        if j % 2 == 1 :
            print("1 ",end="")
        else :
            print("0 ",end="")
    print()
for i in range(5,0,-1) :
    for j in range(1,i) :
        print(" ",end="")
    for j in range(i,6) :
        if j % 2 == 1 :
            print("1 ",end="")  # odd places
        else :
            print("0 ",end="")   # even places
    print()

1 0 1 0 1
 0 1 0 1
  1 0 1
   0 1
    1
   0 1
  1 0 1
 0 1 0 1
1 0 1 0 1

In [53]:
# Print numbers from 1 to n that are divisible by 6, but stop printing completely when a number divisible by 18 is found.

n = int(input("enter the number : "))
for i in range(1,n+1) :
       if i % 6 == 0 :
          if i % 18 == 0 :
              continue
          print(i,end=" ")

enter the number :  60

6 12 24 30 42 48 60

In [55]:
# print numbers 1 to 100 but skips all divisible by 3 and number also even

for i in range(1,100) :
    if i % 3 == 0 :
        
        continue
    print(i,end=" ")

1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23 25 26 28 29 31 32 34 35 37 38 40 41 43 44 46 47 49 50 52 53 55 56 58 59 61 62 64 65 67 68 70 71 73 74 76 77 79 80 82 83 85 86 88 89 91 92 94 95 97 98

In [91]:
# Write a program to print numbers from 1 to n but skip numbers whose digits sum is divisible by 4, and stop the loop when a palindrome number greater than 100 is encountered.

n = int(input("enter the number : "))

for i in range(1, n + 1):
    temp = i
    digit_sum = 0
    while temp > 0:
        r = temp % 10
        digit_sum += r
        temp //= 10

    divisible by 4
    if digit_sum % 4 == 0:
        continue

    # -------- palindrome check for i > 100 --------
    if i > 100:
        temp = i
        rev = 0
        while temp > 0:
            re =  temp % 10
            rev = rev * 10 + re
            temp //= 10

        if i == rev:
            break   # stop loop

    print(i, end=" ")

enter the number :  101

1 2 3 5 6 7 9 10 11 12 14 15 16 18 19 20 21 23 24 25 27 28 29 30 32 33 34 36 37 38 41 42 43 45 46 47 49 50 51 52 54 55 56 58 59 60 61 63 64 65 67 68 69 70 72 73 74 76 77 78 81 82 83 85 86 87 89 90 91 92 94 95 96 98 99 100

In [93]:
# Write a program to print numbers from 1 to n, skipping numbers that are divisible by 3 or 5, but not both.

n = int(input("enter the number : "))

for i in range(1,n+1) :
    if i % 3 == 0 and i % 5 == 0 :
        print(i,end=" ")
        continue
    elif i % 3 == 0 :
        continue
    elif i % 5 == 0 :
        continue
    print(i,end=" ")

enter the number :  30

1 2 4 7 8 11 13 14 15 16 17 19 22 23 26 28 29 30

In [ ]:
# Write a program to demonstrate the difference between break and continue by skipping numbers divisible by 5 and stopping the loop at 50.
i = 1
count = 0
while True :
    if   i== 50:
        break
    elif i % 5 == 0 :
        i += 1
        continue
       
    else :
         print(i,end=" ")
         i += 1
         count += 1
print("total itration is : ", count)

**Questions of chat (conditions)**

In [2]:

#1. Print numbers from 1 to 10 except 3 and 8
for i in range(1,11) :
    if i == 3 or i == 8 :
      continue 
    print(i,end=" ")

1 2 4 5 6 7 9 10

In [5]:
#2. Find the first number divisible by 7 between 1 and 100
for i in range(1,100) :
    if i % 7 == 0 :
        print("first number of divisible by 7 is : ",i)
        break

first number of divisible by 7 is :  7

In [9]:
#3. Count vowels in a string
vowel = "aeiou"
count = 0
li = []
str_ = input("enter the string : ")
for i in str_ :
    if i in vowel :
        count += 1
        li.append(i)
print("total vowels is : ", count)
print("vowels is : ",li)

enter the string :  python is very simple language

total vowels is :  9
vowels is :  ['o', 'i', 'e', 'i', 'e', 'a', 'u', 'a', 'e']

In [11]:
#4. Print all numbers from 1 to 30 except multiples of 5
for i in range(1,31) :
    if i % 5 == 0 :
        continue
    print(i,end=" ")

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29

In [16]:
#5. Print numbers 1â€“50 but skip multiples of 3, skip numbers ending with 7, stop completely if number becomes 40
li = []
for i in range(1,51) :
    if i % 3 == 0 :
        li.append(i)
        continue
    elif i % 10 == 7 :
        li.append(i)
        continue 
    elif i == 40 :
        break
    print(i,end=" ")
print()
print("except number is : ",li)

1 2 4 5 8 10 11 13 14 16 19 20 22 23 25 26 28 29 31 32 34 35 38
except number is :  [3, 6, 7, 9, 12, 15, 17, 18, 21, 24, 27, 30, 33, 36, 37, 39]

- **Questions of Chats (list)**

In [2]:
#1. Create a list of 10 integers.

a = list(range(11,21))
a

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [18]:
#2. Access the first, last, and middle element of a list.

a = ["pthon","hello",True,10,20,34.5]
mid = (len(a)-1)//2
print("first value is : ",a[0])
print("mid value is : ",a[mid])
print("last value is : ",a[len(a)-1])

first value is :  pthon
mid value is :  True
last value is :  34.5

In [21]:
#3. What happens if you access an index that does not exist?

a = [1,2,3,4,5,6]
print(a[5])
a[6]      # ----  error

6

IndexError: list index out of range

In [25]:
#4. Add an element at the end of a list.

li = []
li.extend("a")
li

['a']

In [27]:
#5. Insert an element at a specific index.

a = ["hy",10,3,56,True]
a.insert(3,False)
a

['hy', 10, 3, False, 56, True]

In [30]:
#6. Remove an element by value.

a = ["hy",10,3,56,True]
a.remove(56)
a

['hy', 10, 3, True]

In [35]:
#7. Remove an element by index.

a = [1,2,3,4,5,5,6]
b = a.pop(3)
print(b)
a

4

[1, 2, 3, 5, 5, 6]

In [39]:
#8. Find the length of a list.

a = [3,4,"%",True]
length = len(a)
length

4

In [46]:
# 9. Check whether a list is empty.
a = ["a"]
if len(a) == 0 :
    print("list is empty")
else :
    print("not empty")

not empty

In [48]:
#10. Check if an element exists in a list.

a = ["python",1,2,6]
b = "pytho"
if b in a :
    print("element exist")
else :
    print("not exist")

not exist

In [62]:
#11. Copy a list using slicing.

a = ["python",3,4,6,"hello",False]
b = []
for i in a :
    b.append(i)
b

['python', 3, 4, 6, 'hello', False]

In [63]:
#12. Copy a list using list() constructor.

a = ["python",3,4,6,"hello",False]
c = a.copy()
c

['python', 3, 4, 6, 'hello', False]

In [64]:
#13. Difference between append() and extend().

a = [1,2,3,4,5]
b = [6,7]
a.append(b)
# by using append all element add in a but add only one index

In [61]:
a.extend(b)
# extend add value in a and give index one element to one index.

In [15]:
# 14. Difference between remove() and pop().

# pop delete value on the basis of the index 
# remove delete value on the basis of the value

In [2]:
# 15. Clear all elements from a list.

a = [1,2,3,5]
print(a)
a.clear()
print(a)
#print("empty list")

[1, 2, 3, 5]
[]

In [23]:
# 16. Reverse a list without using reverse().

a = [1,2,3,4,True,"python"]
l = []
for i in range(len(a)) :
      l.append(a[len(a)-i-1])
print(l)

['python', True, 4, 3, 2, 1]

In [33]:
# 17. Sort a list in ascending and descending order.

a = [1,8,4,2,3,0,2]
n = len(a)
d = []
for i in range(n) :
    for j in range(i+1,n) :
        if a[i] > a[j] :
            a[i],a[j] = a[j],a[i]
print(a)

for i in range(n) :
    for j in range(i+1,n) :
        if a[i] < a[j] :
            a[i],a[j] = a[j],a[i]
print(a)

[0, 1, 2, 2, 3, 4, 8]
[8, 4, 3, 2, 2, 1, 0]

In [47]:
# 18. Find the maximum and minimum element.
a = [8,56,45,3,43,2,101]
b = a[0]
c = a[0]

for i in range(len(a)) :
     if a[i] > b :
         b = a[i]
     elif a[i] < c :
         c = a[i]
print(b)
c

101

2

In [50]:
# 19. Find the sum of all elements.

a = [1,2,3,6,5,4]
sum = 0
for i in a :
    sum += i
sum

21

In [56]:
# 20. Count occurrences of a specific element.

a = [1,3,6,"pyhton","a","a",True,"b","a",False]
find = "a"
count = 0
for i in a :
    if find == i :
        count += 1 
count

3

In [68]:
# 21. Remove duplicate elements from a list.

a = ["python","a","c",1,3,6,7,7,"a","c"]
b = []
for i in a :
    if i not in b :
        b.append(i)
b

['python', 'a', 'c', 1, 3, 6, 7]

In [80]:
# 22. Merge two lists.
list1 = [1,2,3,45,5]
list2 = ["a","b","python","h"]
list1.extend(list2)
print(list1)

# or
list2 = ["a","b","python","h"]
a = [1,2,3,4,5,6,7]
list3 = []
for i in a :
    list3.append(i)
for j in list2 :
    list3.append(j)
list3

[1, 2, 3, 45, 5, 'a', 'b', 'python', 'h']

[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'python', 'h']

In [86]:
# 23. Find common elements between two lists.

a = [5,6,7,4,3]
b = [8,2,7,1,3]
c = []
for i in a :
    for j in b :
        if i == j :
            c.append(i)
c

[7, 3]

In [93]:
# 24. Find elements present in first list but not in second.
a = [5,6,7,4,3]
b = [8,2,7,1,3]
c = []
for i in a :
    if i not in b :
        c.append(i)
c

[5, 6, 4]

In [ ]:
# 25. Convert a list into a string.

a = [1,3,6,6,"python"]
b = ""
for i in a :
    b = b + str(i)
 print(b) 
type(b)

In [114]:
# 26. Convert a string into a list.

a = "this is a python 123"
b = a.split(" ")
print(b)
type(b)

['this', 'is', 'a', 'python', '123']

list

In [118]:
# 27. Flatten a nested list.

a = [[1,2,3],[5,6],["a","python"]]
b = []
for i in a :
    for j in i :
        b.append(j)
b

[1, 2, 3, 5, 6, 'a', 'python']

In [12]:
# 28. Find the second largest element.

In [63]:
# 29. Rotate a list left by k positions.

a = list(range(2,14))
k = 4
temp = []
for i in range(k,len(a)) :
    temp.append(a[i])
for i in range(k) :
    temp.append(a[i])
temp

[6, 7, 8, 9, 10, 11, 12, 13, 2, 3, 4, 5]

In [70]:
# 30. Rotate a list right by k positions.

a = list(range(2,14))
k = 4
temp = []
for i in range(k,len(a)) :
    temp.append(a[i])
for i in range(k) :
    temp.append(a[i])
temp

[6, 7, 8, 9, 10, 11, 12, 13, 2, 3, 4, 5]

In [77]:
# 31. Split a list into equal-sized chunks.

a = ["python","a",1,2,6,4,10,4,True,False]
b = []
c = []
mid = (len(a)-1)//2
for i in range(mid+1) :
    b.append(a[i])
for i in range(mid+1,len(a)) :
    c.append(a[i])
print(b)
print(c)

['python', 'a', 1, 2, 6]
[4, 10, 4, True, False]

In [97]:
# 32. Check if a list is sorted.

a = [1,2,3,4,5,6]
if sorted(a) == a :
    print("sorted list")
else :
    print("unsorted list")

sortd list

In [98]:
# 33. Find index of all occurrences of an element

a = [1,3,7,"python",7,4,"a",5,7]
occur = 7
b = []
for i in range(len(a)) :
    if a[i] == occur :
        b.append(i)
b

[2, 4, 8]

In [103]:
# 34. Replace all even numbers with 0.

a = [1,3,4,5,8,7,5,3,2,2]
for i in range(len(a)) : 
    if a[i] % 2 == 0 :
        a[i] = 0
a

[1, 3, 0, 5, 0, 7, 5, 3, 0, 0]

In [ ]:
# 35. Separate even and odd numbers.

a = [1,3,4,5,8,7,5,3,2,2]
b = []
c = []
for i in a :
    if i % 2 == 1 :
        b.append(i)
    else :
        c.append(i)
print(b)
print(c)

- **Questions of Tuple**

In [16]:
# # Tuple
# 1. Create a tuple with 5 integers.
a = tuple(range(1,6))
a

(1, 2, 3, 4, 5)

In [22]:
# 2. Create a tuple with mixed data types.

a = ("python",1,3,True,[1,3,"hy"],(4,65,5))
print(a,type(a))

('python', 1, 3, True, [1, 3, 'hy'], (4, 65, 5)) <class 'tuple'>

In [24]:
# 3. Access the first and last element of a tuple.

a = ("python",1,4,5,True,"a")
print("1st element : ",a[0])
print("last element : ",a[len(a)-1])

1st element :  python
last element :  a

In [25]:
# 4. Access elements using negative indexing.

a = ("python",1,4,5,True,"a")
print(a[-3])

5

In [27]:
# 5. Slice a tuple.

a = ("python",1,4,5,True,"a")
for i in a :
    print(i)

python
1
4
5
True
a

In [28]:
# 6. Check the length of a tuple.

a = ("python",1,4,5,True,"a")

print("length of tuple is : ",len(a))

length of tuple is :  6

In [30]:
# 7. Check if an element exists in a tuple.

a = ("python",1,4,5,True,"a")
element = "b"
if element in a :
    print("element exist in tuple")
else :
    print("element doesn't exist")

element doesn't exist

In [32]:
# 8. Create a tuple with a single element (important syntax).

a = ("py",)
print(a,type(a))

('py',) <class 'tuple'>

In [38]:
# 9. Convert a list into a tuple.

a = list(range(5,12))
print(a,type(a))
tup = tuple(a)
print(tup,type(tup))

[5, 6, 7, 8, 9, 10, 11] <class 'list'>
(5, 6, 7, 8, 9, 10, 11) <class 'tuple'>

In [39]:
# 10. Convert a tuple into a list.

a = (5, 6, 7, 8, 9, 10, 11)
print(a,type(a))
li = list(a)
print(li,type(li))

(5, 6, 7, 8, 9, 10, 11) <class 'tuple'>
[5, 6, 7, 8, 9, 10, 11] <class 'list'>

In [47]:

# 11. Concatenate two tuples.

a = (1,2,3,4,5,6,7)
b = ("python","hy",True,False)
c = []
for i in a :
   c.append(i)
for j in b :
   c.append(j)
c = tuple(c)
c

(1, 2, 3, 4, 5, 6, 7, 'python', 'hy', True, False)

In [60]:
# 12. Repeat a tuple using *.

a = (1,2,3)
a*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [52]:
# 13. Find index of an element in tuple.

a = (1, 2, 3, 4, 5, 6, 7, 'python', 'hy', True, False)
find = 6
for i in range(len(a)) :
    if find == a[i] :
        print(i)

5

In [57]:
#  14. Count occurrences of an element.

a = (1, 2, 4, 5, 7,3,3,5,"hy", 'python', 'hy', True, False)
occur = "hy"
count = 0
for i in a :
    if occur == i :
        count += 1
print(f"the occurence of '{occur}' is : ",count)

the occurence of 'hy' is :  2

In [59]:
# 15. Delete a tuple completely.

a = (1, 2, 3, 4, 5, 6, 7, 'python', 'hy', True, False)
del(a)
a

NameError: name 'a' is not defined