## Tuple

In [2]:
# 3rd element extract
a = (10,20,30,40,50)
a[2]

30

In [4]:
# last element with negatve indexing
a = (5,10,15,20)
a[-1]

20

In [20]:
# extract all element using slicing
a = (100,200,300,4000,500)
a[:]

(100, 200, 300, 4000, 500)

In [21]:
# reverse tuple
a = (1,2,3,4,5)
a[::-1]

(5, 4, 3, 2, 1)

In [22]:
# alternate element extract
a = (1,2,3,4,5,6)
a[::2]

(1, 3, 5)

In [25]:
# extract first 3 elements
a = (11,22,33,44,55,66)
a[:3]

(11, 22, 33)

In [19]:
# extract 2 to 4 elements from tuple
a = (1,2,3,4,5)
print(a[1:len(a)-1])

(2, 3, 4)

In [27]:
# extract all elements from 3rd position
a = (5,10,15,20,25,30)
a[2:]

(15, 20, 25, 30)

In [28]:
# extract last 2nd element
a = (100,200,300,400)
a[-2]

300

In [52]:
# extract first two and last two elements in tuple
a = (1,2,3,4,5,6)
b = []
b.extend(a[:2])
b.extend(a[-2:])
tuple(b)

(1, 2, 5, 6)

In [54]:
# sum of all elements of tuple
a = (1,2,3,4,5)
sum = 0
for i in a :
    sum += i
print("sum of all element is : ",sum)

sum of all element is :  15

In [55]:
# count n=even number in tuple 
a = (1,2,3,4,5,6,6,78,8)
count = 0
for i in a :
    if i % 2 == 0 :
        count += 1
print(count)

6

In [56]:
# multiply of all elements
a = (1,2,3,4,5)
multi = 1
for i in a :
    multi = multi*i
print("multiply of all number is : ",multi)

multiply of all number is :  120

In [63]:
# add element of two tuples
a = (1,2,3)
b =(4,5,6)
c = []
for i,j in zip(a,b) :
    sum = 0
    sum = (i+j)
    c.append(sum)
print(tuple(c))

(5, 7, 9)

In [65]:
# extract all elements greater than 50
a = (20,55,60,30,75)
b = []
for i in a :
    if i > 50 :
        b.append(i)
print(tuple(b))

(55, 60, 75)

## Set

In [1]:
# #1. Write a Python program to create a set with 5 numbers.
# Output: `{1, 2, 3, 4, 5}`

a = {1,2,3,4,5}
a

{1, 2, 3, 4, 5}

In [2]:
# 2. Write a Python program to check if an element exists in a set.
# Input: `3 in {1, 2, 3, 4}`
# Output: `True`

a = {1,2,3,4}
3 in a

True

In [3]:
# 3. Write a Python program to find the length of a set.
# Input: `{10, 20, 30}`
# Output: `3`

a = {10,20,30}
print(len(a))

3

In [ ]:
# 4. Write a Python program to convert a list to a set.
# Input: `[1, 2, 2, 3]`
# Output: `{1, 2, 3}`

a = [1,2,2,3]
print(set(a))

{1, 2, 3}

In [10]:
# 5. Write a Python program to convert a set to a list.
# Input: `{1, 2, 3}`
# Output: `[1, 2, 3]` (order may vary)

a = {1,2,3}
print(list(a))

[1, 2, 3]

In [12]:
# 6. Write a Python program to copy one set into another.
# Input: `set1 = {10, 20}`, Output: `set2 = {10, 20}`

set1 = {10,20}
set2 = set1.copy()
set2

{10, 20}

In [14]:
# 7. Write a Python program to clear all elements from a set.
# Input: `{1, 2, 3}`
# Output: `set()` (empty set)

a = {1,2,3}
a.clear()
a

set()

In [16]:
# 8. Write a Python program to remove a specific element using `discard()`.
# Input: `{5, 6, 7}`, discard `6`
# Output: `{5, 7}`

a = {5,6,7}
a.discard(6)
a

{5, 7}

In [17]:
# 9. Write a Python program to add an element to an empty set.
# Input: `set()`, add `100`
# Output: `{100}`

a = set()
a.add(100)
a

{100}

In [18]:
# 10. Write a Python program to print all elements of a set using a for loop.
# Input: `{10, 20, 30}`
# Output:
# ```
# 10
# 20
# 30

a = {10,20,30}
for i in a :
    print(i)

10
20
30

In [32]:
# 1. Write a Python program to create a set from a list and remove duplicates.
# Input: `[1, 2, 2, 3, 4, 4, 5]`
# Output: `{1, 2, 3, 4, 5}`

a = {1,2,2,3,4,4,5}
print(a)

{1, 2, 3, 4, 5}

In [33]:
# 2. Write a Python program to add a single element to a set.
# Input: `{1, 2, 3}`, add `4`
# Output: `{1, 2, 3, 4}`

a = {1,2,3}
a.add(4)
a

{1, 2, 3, 4}

In [39]:
# 3. Write a Python program to add multiple elements to a set.
# Input: `{1, 2}`, add `[3, 4, 5]`
# Output: `{1, 2, 3, 4, 5}`

a = {1,2}
li = [3,4,5]
a.update(li)
a

{1, 2, 3, 4, 5}

In [ ]:
# 4. Write a Python program to remove an element from a set using `remove()` and explain what happens if the element is not present.

a = {1,2,3,4}
a.remove(4)
print(a)
a.remove(4)     # show error because now 4 is not present in the tuple

{1, 2, 3}

KeyError: 4

In [11]:
# 5. Write a Python program to remove an element using `discard()` and explain how it differs from `remove()`.
a = {1,2,3,4}
a.discard(3)
print(a)
a.discard(3)    # when element present in set then discard() remove it and when elemwnt not found in set then don't show error
                # but in remove whe element not found in set then give error

{1, 2, 4}

In [13]:
# 6. Write a Python program to pop a random element from a set and print it.

a = {1,2,3,4,5}
print(a.pop())
a

1

{2, 3, 4, 5}

In [ ]:
# 7. Write a Python program to find the union of two sets.
# Input: `{1, 2, 3}` and `{3, 4, 5}`
# Output: `{1, 2, 3, 4, 5}`

a =  {1,2,3}
b = {3,4,5}
a.union(b)

{1, 2, 3, 4, 5}

In [15]:
# 8. Write a Python program to find the intersection of two sets.
# Input: `{1, 2, 3}` and `{2, 3, 4}`
# Output: `{2, 3}`

a = {1,2,3}
b = {2,3,4}
a & b

{2, 3}

In [18]:
# 9. Write a Python program to find the difference between two sets (elements in set A but not in set B).
# Input: `{1, 2, 3}` - `{2, 3, 4}`
# Output: `{1}`

a = {1,2,3}
b = {2,3,4}
a.difference_update(b)
a

{1}

In [20]:
# 10. Write a Python program to find the symmetric difference between two sets.
# Input: `{1, 2, 3}` and `{3, 4, 5}`
# Output: `{1, 2, 4, 5}`

a = {1,2,3}
b = {3,4,5}
a.symmetric_difference_update(b)
a

{1, 2, 4, 5}

In [21]:
#  11. Write a Python program to check if a set is a subset of another.
# # Input: `{1, 2}` is subset of `{1, 2, 3, 4}` → Output: `True`

a = {1,2,3,4}
b = {1,2}
b.issubset(a)

True

In [22]:
# 12. Write a Python program to check if a set is a superset of another.
# Input: `{1, 2, 3}` is superset of `{2, 3}` → Output: `True`

a = {1,2,3}
b = {2,3}
b.issuperset(b)

True

In [ ]:
# 13. Write a Python program to find common elements in three sets.
# Input: `{1, 2, 3}`, `{2, 3, 4}`, `{3, 4, 5}`
# Output: `{3}`

a = {1,2,3}
b = {3,4,5}
c = {2,3,4}
common = a & b &c
common

{3}

In [ ]:
# # 14. Write a Python program to remove all elements from a set.
# Input: `{10, 20, 30}`
# Output: `set()` (empty set)

a = {1,2,3}
a.clear()
a

set()

In [28]:
# 15. Write a Python program to convert a string to a set of characters and remove all vowels.
# Input: `"datascience"`
# Output: Set of characters excluding vowels, e.g., `{'d', 't', 's', 'c', 'n'}`

str_ = "datascience"
b = set()
vowel = "AEIOUaeiou"
for i in str_ :
    if i not in vowel :
        b.update(i)
b

{'c', 'd', 'n', 's', 't'}